h1 {
  text-align: center;
}

fieldset {
  width: 40%;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  border: 5px;
}

label {
  border: 5px:
  display: block;
  margin-top: 20px;
}
